<link rel="stylesheet" href="/css/footer.css">

<footer id="layout-footer">
    <div>
        <p>
            &#169; PURSHOTAM. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <!-- <a href="/users/profile/">Profile</a> -->
                    <% if (locals.user){ %>
                        
                            <a href="/users/profile/<%= user.id %>">Profile</a>
                        
                        <% }else{ %>
                        
                            <a href="/users/sign-in">Sign In</a>
                
                        <% } %>
                </li>
            </ul>
        </nav>
    </div>
</footer>