<h1>Enter your email for forget password </h1>
    <form action="/users/reset-password" method="POST">
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <input type="submit" value="Rest Password">
    </form>