<p><%= userId %> </p>
    <form action="/users/change-password/?userId=<%=userId%>" method="POST">
        <input type="text" name="password" placeholder="Enter Your new password">
        <input type="text" name="confirm" placeholder="Confirm Password">
        <input type="submit" value="Submit">
    </form>